@media (min-width: 1500px) {
#block1{
  margin-top: 25%;
  margin-left:auto;
  background-color:white; 
  border-radius: 10px;
  padding: 30px;

 }
 }
   .img{
   float:left; 
   margin: 1px 1px 1px 0; 

/*#block2{*/
/*    background: white;*/
/*    border: 1px solid #B25538;*/
/*    padding: 10px;*/
/*    margin: 50px;*/
/*    max-width: 35%*/
}
#block3{
    display: inline-block;
    left:0;
    background:white;
    border-radius: 10px;
    margin: 4%;
    width: auto;

}
#block4{
    display: inline-block;
    right:0 ;
    background:white;
    border-radius: 10px;
    margin: 80px;
    width: auto;
    
}
/*#opt{*/
/*    display: inline-block;*/
/*}*/
    

@media (max-width: 1200px){
#block1{
  margin-top: 25%;
  margin-left:auto;
  background-color:white; 
  border-radius: 10px;
  padding: 30px;
}
}
/*.block4{*/
/*  margin-top: 25%;*/
/*  margin-left:auto;*/
/*  background-color:white; */
/*  border-radius: 10px;*/
/*  padding: 30px;*/
/*}*/
/*}*/