@media screen and (max-width: 800px){
    body{
    background:url(../img/dyn2.jpg)no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    margin:0;
    padding:0;

}
@keyframes myfirst {
    0%   {background:url(../img/fon3.jpg)no-repeat center center fixed; background-size:cover;}
    25%  {background:url(../img/dyn1.jpg)no-repeat center center fixed; background-size:cover;;}
    50%  {background:url(../img/dyn2.jpg)no-repeat center center fixed; background-size:cover;;}
    75%  {background:green;}
    100% {background:red;}
}
@media screen and (max-width: 800px){
    body{
    background:url(../img/dyn2.jpg)no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    margin:0;
    padding:0;
}
}
body{
    padding: 0;
    background:url(../img/fon3.jpg) no-repeat center center fixed;
    
    position: center center fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    margin:0;
    padding:0;
/*    @media screen
